/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"> */

body{
    font-family:'Open Sans', sans-serif;
    background-image:url('/assets/background_image.png');
    background-size:cover;
    background-repeat:no-repeat;

    color: white;
}
.center-div{
    padding-top: 10%;
}
.btn.btn-success{
  padding: .4em 2em;  
}

form{
    padding: 0 3em;
}

#login.title>span{
    font-size: .8em;
}
